<footer class="bg-black ph3 pv4 white">
	<div class="mw7 center pt3">


		<div class="flex-ns justify-between">

			<div>
				<h3 class="f4 b lh-title mb1 primary">talentdmrripley</h3>
				<ul class="mb3">
					<li><a href="/" class="link">Home</a></li>
					<li><a href="/post" class="link">Blog</a></li>
					<li><a href="/overland" class="link">Overland</a></li>
				</ul>
			</div>


			<div>
				<h3 class="f4 b lh-title mb2 primary">Connect</h3>
				<ul class="mhn2">
					{{ partial "social-icon" (dict "link" "https://www.facebook.com/chrisrips" "svg" "icons-facebook") }}
					{{ partial "social-icon" (dict "link" "https://www.twitter.com/talentdmrripley" "svg" "icons-twitter") }}
					{{ partial "social-icon" (dict "link" "https://www.instagram.com/talentdmrripley" "svg" "icons-instagram") }}
					{{ partial "social-icon" (dict "link" "https://www.instagram.com/overland.trek" "svg" "icons-instagram") }}
				</ul>
			</div>

		</div>
	</div>

</footer>

{{ partial "svg" . }}

<script src="/app.js"></script>
